
<!-- This is a *view* - HTML markup that defines the appearance of your UI -->

<h2><font color=orange>Under Construction</font></h2>

<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title">Test Results</h2>
    </div>

    There are <span data-bind="text: availableSweeps().length"></span> sweeps available.

    <!-- Sweeps grid -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Start</th>
                <th>End</th>
                <th>Pass/Fail</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: availableSweeps">
            <tr data-bind="click: $parent.goTo">
                <td data-bind="text: name"></td>
                <td data-bind="text: description.summary"></td>
                <td data-bind="text: startTimestamp"></td>
                <td data-bind="text: endTimestamp"></td>
                <td data-bind="text: status, css: statusStyle"></td>
            </tr>
        </tbody>
    </table>

    <p class="bg-info">Click anywhere on a row to drill down to details.</p>
</div>
