<h2><font color=orange>Under Construction</font></h2>

<h2>debug-page</h2>
<img src="http://icons.iconarchive.com/icons/lyle-zapato/arthropodicons/32/Japanese-Beetle-icon.png">

<p data-bind='text: message'></p>

<button data-bind='click: doSomething'>Test1</button>
<br />
<button data-bind='click: doSomething2'>Test2</button>
<hr />


<input type="file" id="your-files" multiple data-bind="event: { change: function() { uploadFile($element.files[0]) } }">
<br />
<button data-bind='click: resetFile'>Reset</button>
<hr />
<p data-bind='text: contents'></p>
<hr />
<p class="bg-warning">
    This page is for debugging, and may not appear in the released version.
</p>

