

<h2><font color=orange>Under Construction</font></h2>

<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title">Test Suite</h2>
    </div>

    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd data-bind="text: name">...</dd>
        <dt>Summary</dt>
        <dd data-bind="text: summary"></dd>
        <dt>Description</dt>
        <dd data-bind="text: description"></dd>
        <dt>Theory</dt>
        <dd data-bind="text: theory"></dd>
        <dt>Instructions</dt>
        <dd data-bind="text: instructions"></dd>
        <dt>Other Information</dt>
        <dd data-bind="text: unknown"></dd>
        <dt>Stop On Failure</dt>
        <dd data-bind="text: unknown"></dd>
        <dt>Start</dt>
        <dd data-bind="text: startDate"></dd>
        <dt>End</dt>
        <dd data-bind="text: endDate"></dd>
        <dt>Pass/Fail</dt>
        <dd data-bind="text: status, css: statusStyle"></dd>
    </dl>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title">Test Series</h2>
    </div>

    <!--
    Below is a "container-less" example of Knockout - used to skip the informational text if less than 2 rows.
     -->

    <!-- ko if: availableRows().length > 1 -->
    There are <span data-bind="text: availableRows().length"></span> series available.
    <!-- /ko -->

    <!-- Series grid -->
    <div data-bind="visible: availableRows().length > 0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Configuration Port</th>
                    <th>Port Set</th>
                    <th>Pass/Fail</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: availableRows">
                <tr data-bind="click: $parent.goTo">
                    <td data-bind="text: name"></td>
                    <td data-bind="text: description.summary"></td>
                    <td data-bind="text: config"></td>
                    <td data-bind="text: ports"></td>
                    <td data-bind="text: status, css: statusStyle"></td>
                </tr>
            </tbody>
        </table>

        <p class="bg-info">Click anywhere on a row to drill down to details.</p>

    </div>
</div>

<button onclick="window.history.back();"><span class="glyphicon glyphicon-circle-arrow-left"></span>&nbsp;Go Back</button>

