<div class="panel panel-info">

    <h2><font color=orange>Under Construction</font></h2>

    <div class="panel-heading">
        <h2 class="panel-title">Sequence Results</h2>
    </div>

    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd data-bind="text: name"></dd>
        <dt>Summary</dt>
        <dd data-bind="text: summary"></dd>
        <dt>Description</dt>
        <dd data-bind="text: description"></dd>
        <dt>Start</dt>
        <dd data-bind="text: startDate"></dd>
        <dt>End</dt>
        <dd data-bind="text: endDate"></dd>
        <dt>Pass/Fail</dt>
        <dd data-bind="text: status, css: statusStyle"></dd>
    </dl>
</div>


<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title">Step List</h2>
    </div>

    <!-- ko if: availableRows().length > 1 -->
    There are <span data-bind="text: availableRows().length"></span> steps available.
    <!-- /ko -->

    <div data-bind="visible: availableRows().length > 0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Validation</th>
                </tr>
            </thead>

            <!-- TODO: finish this hierarchy (Frank 12Sep2014) -->
            <!-- foreach StepList
                    foreach valueList
                        foreach deviceList
            -->

            <tbody data-bind="foreach: availableRows">
                <tr>

                    <th data-bind="text: Action"></th>
                    <td data-bind="text: Validation"></td>
                    <td></td>
                    <td></td>
                </tr>

                <!-- values grid -->
                <!-- ko foreach: valueList -->
                <tr>
                    <td></td>
                    <td data-bind="text: name"></td>
                    <!--
                    <td data-bind="text: value"></td>
                     -->
                    <td>value-placeholder</td>
                    <td data-bind="text: status, css: statusStyle"></td>
                </tr>
                <!-- /ko -->

            </tbody>
        </table>
    </div>


    <p class="bg-info">This view shows a list of steps, including one or more values for each step.</p>
</div>

<button onclick="window.history.back();"><span class="glyphicon glyphicon-circle-arrow-left"></span>&nbsp;Go Back</button>
