<h2><font color=orange>Under Construction</font></h2>

<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title">Test Series</h2>
    </div>

    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd data-bind="text: name">...</dd>
        <dt>Summary</dt>
        <dd data-bind="text: summary"></dd>
        <dt>Description</dt>
        <dd data-bind="text: description"></dd>
        <dt>Configuration</dt>
        <dd data-bind="text: configuration"></dd>
        <dt>Start</dt>
        <dd data-bind="text: startDate"></dd>
        <dt>End</dt>
        <dd data-bind="text: endDate"></dd>
        <dt>Pass/Fail</dt>
        <dd data-bind="text: status, css: statusStyle"></dd>
    </dl>
</div>


 <div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title">Sequence List</h2>
    </div>

    <!-- ko if: availableRows().length > 1 -->
    There are <span data-bind="text: availableRows().length"></span> tests available.
    <!-- /ko -->

    <!-- test results grid -->
    <div data-bind="visible: availableRows().length > 0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Pass/Fail</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: availableRows">
                <tr data-bind="click: $parent.goTo">
                    <td data-bind="text: name"></td>
                    <td data-bind="text: description.summary"></td>
                    <td data-bind="text: status, css: statusStyle"></td>
                </tr>
            </tbody>
        </table>

    </div>
    <p class="bg-info">Click anywhere on a row to drill down to details.</p>
</div>

<button onclick="window.history.back();"><span class="glyphicon glyphicon-circle-arrow-left"></span>&nbsp;Go Back</button>
