<h2><font color=orange>Under Construction</font></h2>

<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title">Test Sweep</h2>
    </div>
    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd data-bind="text: name">...</dd>
        <dt>Summary</dt>
        <dd data-bind="text: summary"></dd>
        <dt>Description</dt>
        <dd data-bind="text: description"></dd>
        <!--
        <dt>Definition</dt>
        <dd data-bind="text: definition"></dd>
         -->
        <dt>Product Information</dt>
        <dd data-bind="text: productInformation"></dd>
        <dt>Created</dt>
        <dd data-bind="text: createDate"></dd>
        <p class="bg-warning">
            (Not yet implemented: a list of port selections.)
        </p>
        <dt>Configuration Port</dt>
        <dd data-bind="text: configPort"></dd>

        <dt>Start</dt>
        <dd data-bind="text: startDate"></dd>
        <dt>End</dt>
        <dd data-bind="text: endDate"></dd>
        <dt>Pass/Fail</dt>
        <dd data-bind="text: status, css: statusStyle"></dd>
        <!--
        <dt>Pass/Fail</dt>
        <dd data-bind="text: status, css: statusStyle2"></dd>
         -->
    </dl>
    </div>

 <div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title">Test Suites</h2>
    </div>
    There are <span data-bind="text: availableRows().length"></span> suites available.

    <!-- Suites grid -->
    <div data-bind="visible: availableRows().length > 0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Pass/Fail</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: availableRows">
                <tr data-bind="click: $parent.goTo">
                    <td data-bind="text: name"></td>
                    <td data-bind="text: description.summary"></td>
                    <td data-bind="text: startTimestamp"></td>
                    <td data-bind="text: endTimestamp"></td>
                    <td data-bind="text: status, css: statusStyle"></td>
                    <!--
                    <td><span class="glyphicon glyphicon-info-sign" data-bind="attr: {title: info}"></span></td>
                     -->
                </tr>
            </tbody>
        </table>

        <p class="bg-info">Click anywhere on a row to drill down to details.</p>
    </div>
</div>

<button onclick="window.history.back();"><span class="glyphicon glyphicon-circle-arrow-left"></span>&nbsp;Go Back</button>
