<h2>What About Bob?</h2>
<img src="http://icons.iconarchive.com/icons/bo/dilbert/32/Bob-icon.png">

<p>
    <br />
    <dl class="dl-horizontal">
        <dt>Version</dt>
        <dd data-bind="text: version">...</dd>
        <dt>Description</dt>
        <dd>Proof of concept: This application allows you to view predefined test results.</dd>
    </dl>
</p>
